*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Big Shoulders Display', cursive;
}

header{
    height: 25rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: black;
}

    header img{
        margin: 150%;
        height: 3rem;
        width: 9rem;
    }

        header nav{
            display: flex;
            flex-direction: row;
            gap: 3rem;
            padding: 100px;
            margin-right: 150px;
        }

            header a{
                color: white;
                font-family:'Big Shoulders Display', cursive;
                font-size: 50px;
                font-weight: bold;

                text-decoration: none;
                list-style: none;
            }

#headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: black;
}

#headline #design{
    margin-right: 800px;
}

#headline #brand{
    margin-left: 70px;
}


#headline h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size:  250px;
    font-weight: bold;
}

#headline h3{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;

    font-family: 'Inter', cursive;
    font-size: 24px;
    font-weight:normal;
    
    margin-left: 100px;
    margin-bottom: 100px;
}

#images{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(218, 194, 194);

}

#history{
    display: flex;
}

#history h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: bold;
    font-size: 100px;
}

#history p{
    font-family: 'Inter';
    font-weight: normal;
    font-size: 32px;
}

#history #ph{
    font-family: 'Inter';
    font-weight: normal;
    font-size: 20px;
}

#history #mt{
    height: 950px;
    width: 550px;
    border-radius: 20px;
}